<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
  <link rel="stylesheet" href="3pp/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="3pp/bootstrap/dist/css/bootstrap-theme.min.css">
  <script src="3pp/jquery/jquery.min.js"></script>
  <script src="3pp/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Y Journal</title>
</head>
<body>
  <% content %>
</body>
</html>
