<script type="text/ng-template" id="DeleteItemConfirm.html">
  <div class="modal-header">
    <h3 class="modal-title">Are your sure?</h3>
  </div>
  <div class="modal-body">
    <div>Delete '{{title}}' ?</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
<div>
  <form ng-submit="itemList.query()">
    <div class="input-group">
      <input ng-model="itemList.queryStr" type="text" class="form-control"
      placeholder="Query here" autofocus>
      <span ng-click="itemList.query()" class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
  </form>
  <form ng-submit="itemList.add()">
    <div class="input-group">
      <input ng-model="itemList.content" type="text" class="form-control"
      placeholder="Quick add an item ..." style="width:100%" autofocus>
      <span ng-click="itemList.add()" class="input-group-addon">
        <i class="glyphicon glyphicon-plus"></i>
      </span>
    </div>
  </form>
  <table>
    <tr ng-repeat="item in itemList.items">
      <td>
        <a ng-click="itemList.remove(item.id)"
          class="text-danger glyphicon glyphicon-trash"
          style="padding-right:3px" href="#">
        </a>
      </td>
      <td>
        <a data-toggle="tooltip" title={{item.time}} href="#/edit/{{item.id}}">
          {{itemList.title(item)}}
        </a>
        <span ng-repeat="tag in item.attribute.tag"
          class="badge"
          style="background-color:{{tag.name.colorCode()}};
                 color:{{tag.name.reversedColorCode()}}">
          {{tag.name}}
        </span>
        <a ng-repeat="attachment in item.attribute.attachment"
          class="badge"
          target="_blank"
          href="/api/item/{{item.id}}/a/attachment/{{attachment.name}}/c">
          {{attachment.name}}
          <i class="glyphicon glyphicon-download-alt"></i>
        </a>
      </td>
    </tr>
  </table>

  <ul class="list-unstyled">
    <li ng-repeat="item in itemList.items"></li>
  </ul>
</div>
