<form ng-submit="itemEdit.addTag()">
  <span ng-repeat="tag in itemEdit.item.attribute.tag"
    class="badge"
    style="background-color:{{tag.name.colorCode()}};
           color:{{tag.name.reversedColorCode()}}">
    {{tag.name}}
    <span ng-click="itemEdit.removeTag(tag.name)"
      class="glyphicon glyphicon-remove-circle"
      style="cursor:pointer"></span>
  </span>
  <div class="badge">
    <input ng-model="itemEdit.tag" type="text" placeholder="New tag"
    style="border:none;background:transparent">
  </div>
</form>
<form>
  <span ng-repeat="attachment in itemEdit.item.attribute.attachment"
    class="badge alert-info">
    <a target="_blank"
      href="/api/item/{{itemEdit.item.id}}/a/attachment/{{attachment.name}}/c">
      {{attachment.name}}
      <i class="glyphicon glyphicon-download-alt"></i>
    </a>
    <span ng-click="itemEdit.removeAttachment(attachment.name)"
      class="glyphicon glyphicon-remove-circle"
      style="cursor:pointer"></span>
  </span>
  <span ngf-select ng-model="file"
    class="badge" style="cursor:pointer">Upload</span>
</form>

<div ng-model="itemEdit.item.content" ui-codemirror="cmOptions"></div>
