<link rel="stylesheet" href="3pp/codemirror/dist/lib/codemirror.css" type="text/css">
<link rel="stylesheet" href="3pp/codemirror/dist/theme/solarized.css" type="text/css">
<style type="text/css">
.CodeMirror {
  border: 1px solid #eee;
  height: 90%;
}
</style>
<script src="3pp/codemirror/dist/lib/codemirror.js"></script>
<script src="3pp/codemirror/dist/addon/mode/overlay.js"></script>
<script src="3pp/codemirror/dist/addon/edit/matchbrackets.js"></script>
<script src="3pp/codemirror/dist/keymap/vim.js"></script>
<script src="3pp/codemirror/dist/mode/meta.js"></script>
<script src="3pp/codemirror/dist/mode/markdown/markdown.js"></script>
<script src="3pp/codemirror/dist/mode/gfm/gfm.js"></script>
<script src="3pp/codemirror/dist/mode/javascript/javascript.js"></script>
<script src="3pp/codemirror/dist/mode/clike/clike.js"></script>
<script src="3pp/codemirror/dist/mode/haskell/haskell.js"></script>
<script src="3pp/codemirror/dist/mode/shell/shell.js"></script>

<div ng-model="itemEdit.item.content" ui-codemirror="{lineWrapping:true,lineNumbers:true,keyMap:'vim',tabSize:2,mode:'text/x-gfm',theme:'solarized dark'}"></div>
<button class="btn btn-primary" ng-click="itemEdit.save()">Save</button>
<a href="#/" class="btn btn-default">Cancel</a>
