<script type="text/ng-template" id="DeleteItemConfirm.html">
  <div class="modal-header">
    <h3 class="modal-title">Are your sure?</h3>
  </div>
  <div class="modal-body">
    <div>Delete '{{title}}' ?</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
<div>
  <form ng-submit="todoList.add()">
    <div class="input-group">
      <input ng-model="todoList.content" type="text" class="form-control"
      placeholder="Quick add ..." style="width:100%" autofocus>
      <span ng-click="todoList.add()" class="input-group-addon">
        <i class="glyphicon glyphicon-plus"></i>
    </div>
  </form>

  <div ng-repeat="folder in todoList.folders">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="glyphicon glyphicon-{{folder.icon}}"></i>
          {{folder.title}}
        </div>
      </div>
      <div class="panel-body">
        <table>
          <tr ng-repeat="todo in todoList.todos|filter:filterTodo(folder.name)">
            <td style="padding-right:3px">
              <a ng-click="todoList.remove(todo.id)"
                class="text-danger glyphicon glyphicon-trash" href="#/todo">
              </a>
              <a ng-repeat="toFolder in todoList.folders|filter:filterNonFolder(folder.name)"
                 ng-click="todoList.moveTo(todo.id, toFolder.name)"
                 class="text-success glyphicon glyphicon-{{toFolder.icon}}"
                 style="padding-right:2px"
                 href="#/todo">
              </a>
            </td>
            <td>
              <a data-toggle="tooltip" title={{todo.time}} href="#/edit/{{todo.id}}">
                {{todoList.title(todo)}}
              </a>
              <span ng-repeat="tag in toArray(todo.attribute.tag)|filter:{name:'!todo'}"
                class="badge"
                style="background-color:{{tag.name.colorCode()}};
                color:{{tag.name.reversedColorCode()}}">
                {{tag.name}}
              </span>
              <a ng-repeat="attachment in todo.attribute.attachment"
                class="badge"
                target="_blank"
                href="/api/item/{{todo.id}}/a/attachment/{{attachment.name}}/c">
                {{attachment.name}}
                <i class="glyphicon glyphicon-download-alt"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
